@import "~bootstrap/scss/bootstrap";

$color-red: #d20a32;

body {
  background-color: #191919;
  color: #ffffff;
}

.container {
  padding:0 30px;
  max-width: 2240px !important;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  margin:30px 0;
}

.detailtitle {
  font-size: 35px;
}

.detailratings {
  color: $color-red;
  font-size: 20px;
}

.titleAndRatings {
  display: flex;
  margin:30px 0;
  justify-content: space-between;
}

.release-dateToPublishers {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:40px 20px;
}

.release-dateToPublishers span {
  font-weight: normal;
  display: grid;
  margin-bottom:30px;
  gap:40px 20px;
}

.genresAndTags {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px 20px;
}

.genresAndTags span {
  font-weight: normal;
  display: grid;
  margin-bottom:30px;
  gap:40px 20px;
}

.detailstores {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 35px;
  font-weight: bold;
  color: $color-red;
}

.detailstores span {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 110px 1fr;
  font-weight: normal;
  margin-bottom:30px;
  text-decoration: underline $color-red;
}

.detailscreen {
  margin-bottom:30px;
}

.detailscreen p {
  font-size: 35px;
  font-weight: bold;
  margin-bottom:30px;
  color: $color-red;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:40px 20px;
}

.img-size {
  width: 100%;
  height: 350px;
  display: flex;
  object-fit: cover;
}

.logo {
  width: 4%;
  margin-right: 15px;
}

.logostores {
  height: 20px;
}

#btnSearch, #search {
  background: transparent;
  border: transparent;
  color: #ffffff;
  &:focus-visible{
    outline: none;
  }
}

form {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #191919;
  color: #ffffff;
  width: 350px;
  border: 1px solid grey;
}

h2 {
  font-size: 40px !important;
}

a {
  color: #ffffff;
  &:hover{
    color: #ffffff;
    text-decoration: none;
  }
}

h1 {
  color: $color-red;
}

.footer-div {
  width: 170px;
  height: 10px;
  background-color: $color-red;
  margin-bottom: 15px;
}

#footer-text {
  font-weight: bold;
}

.link-website {
  background-color: $color-red;
  height: 30px;
  padding:0 15px;
  position: absolute;
  display: flex;
  justify-content: end;
  margin-left: 75%;
  margin-top: -4%;
}

.btn-red {
  background-color: $color-red;
  color: #ffffff;
  margin:20px 0;
}

#inner-text p {
  margin-bottom: 30px;
}

#innerShow {
  text-align: center;
}